# Part 1 spacex data collection

1. Get request for rocket launch data using API

In [ ]:
spacex_url="https://api.spacexdata.com/v4/launches/past"

In [ ]:
response = requests.get(spacex_url)

2. Use json_normalize method to convert json result to dataframe

In [ ]:
# Use json_normalize meethod to convert the json result into a dataframe
# Get the head of the dataframe
data=pd.json_normalize(response.json())
data

3. We then performed data cleaning and filling in the missing values

In [ ]:
# Calculate the mean value of PayloadMass column for Falcon 9 launches
mean_payload_mass = data_falcon9['PayloadMass'].mean()

# Replace NaN values with the mean value in the 'PayloadMass' column
data_falcon9['PayloadMass'].fillna(mean_payload_mass, inplace=True)

# Part 2 spacex data collection

1. Apply HTTP Get method to request the Falcon 9 rocket launch page

In [ ]:
static_url = "https://en.wikipedia.org/w/index.php?title=List_of_Falcon_9_and_Falcon_Heavy_launches&oldid=1027686922"

In [ ]:
# use requests.get() method with the provided static_url
# assign the response to a object

response=requests.get(static_url)

if response.status_code==200:
    # print(response.text)
else:
    print(f"Error: Unable to retrieve the page. Status code:{response.status_code}")

2. Create a BeautifulSoup object from the HTML response

In [ ]:
# Use BeautifulSoup() to create a BeautifulSoup object from a response text content
soup=BeautifulSoup(response.text, 'html.parser')

print("Title of the page:",soup.title.text)

Title of the page: List of Falcon 9 and Falcon Heavy launches - Wikipedia

3. Extract all column names from the HTML table header

In [ ]:
# Use the find_all function in the BeautifulSoup object, with element type `table`
# Assign the result to a list called `html_tables`
tables=soup.find_all('table')

# iterate through each table
for table in tables:
    # Find the table header (assuming it is the first row in the table)
    headers=table.find('tr').find_all('th')
    
    # Extract and print the column names
    for header in headers:
        column_names=header.text.strip()
        print("Column Names:", column_names)

4. Create a dataframe by parsing the launch HTML tables

5. Export data to csv